@font-face {
    font-family: "presa";
    src: url("../../assets/presa.ttf")
}

/* navbar look */
nav {
    padding-left: 3rem;
}

.navbar-brand {
    background-color:hsl(44, 53%, 90%) ;
    color: hsl(202, 100%, 38%);
    font-family: "presa";
    font-size: 30px;
    font-weight: bolder;
}

.top-bar {
    color: hsl(202, 100%, 38%);
    background-color: hsl(45, 52%, 90%);
    box-shadow: 0px 5px 5px hsl(45, 52%, 85%);
}


.top-bar-right, .nav-link, .top-bar-right ul {
    color: hsl(202, 100%, 38%);
    background-color: hsl(45, 52%, 90%);
}
